* {
    margin: 0;
    padding: 0;
}
.carousel-caption h3, .carousel-caption p {
    font-family: 'Aguafina Script';
    font-size: 22px;
}
#cim {
    font-family: 'Aguafina Script';
    text-align: center;
    color: #f0f0f0;
    font-size: 36px;
    letter-spacing: 20px;
    font-variant: small-caps;
}
.carousel-caption input[type='button'] {
    background-color: rgba(0, 0, 0, 0);
    color: black;
    border: 0px;
    font-family: 'Aguafina Script';
    color: white;
    font-size: 20px;
}
.carousel-caption input[type='button']:hover {
    color: #dd9866;
    transition: 1s;
}
#valami {
    background-image: url('background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
}
#myCarousel {
    border: 1px solid black;
    box-shadow: 5px 5px 5px 1px black;
}
.container-fluid {
    background-color: #485672;
}
#container, #container2, #container3 {
    background-color: #eeeded;
    width: 60%;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 20px;
    margin-bottom: 20px;
}
#bal, #jobb {
    float: left;
    width: 35%;
}
#bal {
    margin-right: 10%;
    margin-left: 10%;
    text-align: justify;
}
#jobb {
    margin-right: 10%;
}
h2 {
    text-align: center;
    font-style: italic;
    font-variant: small-caps;
}
#jobb input {
    width: 30%;
}
#container2 h1 {
    text-align: center;
    font-size: 20px;
    font-variant: small-caps;
}
#emailaddress {
    float: right;
}
#uzenet {
    min-height: 100px;
    width: 100%;
}
#container3 p {
    font-size: 14px;
    text-align: center;
    font-style: italic;
}